<%= error_messages_for :user %>
<%= error_messages_for :system_user %>
<% form_for :user do |f| -%>
<p><label for="uid">Login</label><br/>
<%= f.text_field :uid %></p>

<p><label for="password">Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>
