
<div class="entry">
  <h2>
    <%= link_to_if(defined?(link_to_entry) && link_to_entry,
                   h(entry.dn), :action => "show", :id => entry) %>
<% if current_user and current_user.ldap_user == entry -%>
    (<%= link_to("Edit", :action => "edit", :id => entry) %>)
<% end -%>
  </h2>
  <table>
<% entry.attribute_names(true).sort.each do |name| -%>
    <tr>
      <th><%= h name %></th>
      <td><%= h entry[name, true].join(", ") %></td>
    </tr>
<% end -%>
  </table>
</div>
