<div class="entry">
  <h2><%= user_link(@user) %></h2>
  <% form_tag :action => 'update', :id => @user do %>
    <%= render :partial => 'form' %>
    <%= submit_tag 'Edit' %>
  <% end %>
</div>

<%= link_to 'Show', :action => 'show', :id => @user %> |
<%= link_to 'Back', :action => 'index' %>
